# Ignore everything by default
*

# Keep this gitignore file
!.gitignore

# Project documentation
!README.md

# Requirements files
!requirements.txt
!req.txt

# Source code
!app/
!app/**

# Config files
!configs/
!configs/**

# Demo/media assets for README
!assets/
!assets/**

# Optional: keep model weights folder if you really want to commit weights
!Weights/
!Weights/**

# Optional: keep distance folder if you actually have a folder named distance/
!distance/
!distance/**


# Ignore Python cache files even inside allowed folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.venv/
env/

# Ignore logs
*.log
app.log
detections.log

# Ignore generated outputs
output/
*.avi

# Ignore local OS/editor files
.DS_Store
Thumbs.db
.vscode/